@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron hero-food shadow" style="margin-top:-20px">
    <h1 class="display-2 text-light hero-title" style="margin-top: 120px;"><strong>Toy Store</strong></h1>
    <p class="text-light hero-subtitle"><strong>THE SAFEST PLACE FOR KIDS</strong></p>
    <p>
        <a class="btn btn-dark btn-lg hero-button" role="button" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
        <a class="btn btn-dark btn-lg hero-button" role="button" asp-area="" asp-controller="Home" asp-action="SignUp">Register</a>

    </p>
</div>

